*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-brand{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.logo{
    width: 120px;
    display: inline-block;
    padding-top: 22px;
}
.nav-item{
    padding-right: 30px;
    margin-top: 10px;
    text-align-last: center;
    text-decoration: none;
    text-align: center;
}
.nav-item:hover{
    background-color: rgb(192, 192, 192);
}
.container{
    text-align: center;
    padding: 10px 10px;

}


.box-1 h1{
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: bold;
}
.box-1 p{
    font-size: 23px;
    font-family: 'Dosis', sans-serif;
    line-height: 40px;
}
mark {
    background-color: yellow;
    color: black;
    font-weight: bold;
  }
.btn {
    background-color: rgb(136, 184, 240);
    border-color: rgb(238, 238, 238);
    width:170px;
    height: 65px;
    margin: 10px auto;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}
.btn:hover{
    background-color: crimson;
    color:aliceblue;
    font-family: 'Quicksand', sans-serif;
}
.img1{
    margin: auto;
    display:block;
    text-align: center;
    width:450px;
    height: 370px;
  }



.box-2 h2{
    font-size: 40px;
}
.box-2 p{
    font-size: 20px;
}
.btn1 {
    background-color: rgb(136, 240, 235);
    border-color: rgb(238, 238, 238);
    width:170px;
    height: 65px;
    margin: 10px auto;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}
.btn1:hover{
    background-color: rgb(220, 173, 20);
    color:aliceblue;
    font-family: 'Quicksand', sans-serif;
}
.img2{
    width: 500px;
    float: right;
    padding: 0 10px;
}


.box-3 h2{
    font-size: 40px;
}
.box-3 p{
    font-size: 20px;
}

.font-size p{
    font-size: 70px;
    font-family: 'Dosis', sans-serif;
}


.box-4 h2{
    font-size: 40px;
    padding-top: 20%;
}
.img3{
    width: 500px;
    float: right;
    padding: 0 10px;
}


.box-5 h2{
    font-size: 40px;
}
.box-5 p{
    font-size: 20px;
}
.btn2 {
    background-color: rgb(218, 131, 131);
    border-color: rgb(238, 238, 238);
    width:170px;
    height: 65px;
    margin: 10px auto;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}
.btn2:hover{
    background-color: rgb(20, 220, 127);
    color:aliceblue;
    font-family: 'Quicksand', sans-serif;
}
.img3{
    width: 500px;
    float: right;
    padding: 0 10px;
}



/*footer*/
footer{
    background: #030303;
    padding: 20px;
    color: white;
    font-size: 20px;
  }
  .social-media{
    margin: 20px 0;
  }

  .social-media a{
    color: rgb(255, 255, 255);
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }

  .social-media a:hover{
    color: blue;
  }
  

